@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@300;400;500&display=swap');
@import "tailwindcss";

@layer theme {
    :root {
        --color-primary: #C5A880;
        /* Elegant gold/bronze */
        --color-secondary: #fdfbf7;
        /* Off white background */
        --color-text-main: #333333;
    }
}

@layer base {

    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: var(--color-secondary);
        color: var(--color-text-main);
        font-family: 'Inter', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Playfair Display', serif;
    }

    /* Custom Scrollbar for a premium feel */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-primary);
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #a38a65;
    }
}